.container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
}

.HeadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: center;
  padding: 1rem;
  width: 80%;
}

.bodyContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap; /* Allows items to wrap onto the next row */
  gap: 35px; /* Proper gap between items without overflow */
  background-color: lightgray;
  padding: 40px;
  border-radius: 25px;
  margin-left: 40px;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.CreateNewButton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  color: lightgrey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
