.container{
    border-top: 2px solid black;
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

.HeadingContainer{
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    padding: 1rem;
    width: 80%;
}


.bodyContainer{
    display: flex;
      flex-wrap: wrap;        /* Allows items to wrap onto the next row */
      gap: 35px;              /* Proper gap between items without overflow */
      background-color: lightgray;
      padding: 40px;
        border-radius: 25px;
        margin-left: 40px;
        width: 85%;

}