.background{
    background-image: url("/siginup.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}